div.container {
	font-family : "Helvetica Neue",Helvetica,Arial,sans-serif;
  	font-size: 15px;
	max-width: 1060px;
	margin: 0 auto;
}

.table-borderless td,
.table-borderless th {
    border: 0;
	border-top: none !important;
}

.table-bold td,
.table-bold th {
	font-weight:bold;
}

.nopadding td {
   padding: 0 !important;
   margin: 0 !important;
   /*spacing: 0 !important;*/
}

.dataTables_filter, .dataTables_info {
	display: none;
}

.table-nonfluid {
   width: auto;
}

.bodycontainer a{
	color: #428bca !important;
}
.btn{
  background-color:  #428bca !important;
  width: 80% !important;
}
.btn-secondary{
	background-color:  red !important;
}
button.close {
   outline: none !important;
   box-shadow: none !important;
}
.custom{
	width: 10% !important;
}
.modal-header {
  min-height: 1.42857143px !important;
  padding: 5px !important;
  border-bottom: 0px solid #e5e5e5 !important;
  }

.modal2-header{
	min-height: 10.42857143px !important;
  padding: 0  !important;
  border-bottom: 1px solid #e5e5e5 !important;
 
}
.modal-lg {
   	max-width: 70% !important;
} 
.modal-body {
	  overflow-y: auto !important;
}
.table_modal tr {
	border-top: 0px !important;
  border-bottom: 0px !important;
}
.table_modal td {
  border-top: 0 !important;
  border-bottom: 0 !important;
} 
.table-borderless tr, .table-borderless td{
  padding: .20rem !important;
  margin: 0 !important;
}
.table-borderless {
	margin-bottom: 0.5rem !important;
}

.modal-sm {
   	max-width: 50% !important;
}    
.btn-static {
  background-color: white;
  border: 1px solid lightgrey !important;
  cursor: default !important;
  outline: none !important;
   box-shadow: none !important;
}
div.tooltip {
	
  box-sizing: border-box;
  display: inline-block;
  min-width: 1.5em;
  padding: 2px;	
  margin-left: 0px;
  text-align: center;
  text-decoration: none !important;
  cursor: pointer;
  border: 1px solid #111111;	
	background-color: white;
  background: white;
}
svg{
  font-family : 'FreeMono',Miltonian,monospace;
  font-size: 16px;
  display:block;
}
svg.l_popup_svg{
  font-family : 'FreeMono',Miltonian,monospace !important;
  font-size: 16px !important;
  margin-left:auto !important;
  margin-right:auto !important ;
  display:block !important;
}
#MyTextMZIN,#MyTextMassCharge{
	
	line-height: 1.1;
	font-size: 18px !important;
	text-align: left !important;
}
#topview{
  float: right !important;
}
#precursormz
{
  cursor: pointer;
}
#spectrumpop .modal-sm{
  max-width: 70% !important;
}
/* #tooltip_imagename {
  /* max-width: 350px !important; */
  /* If max-width does not work, try using width instead */
  /* width: 250px !important;  */
  /* height: 40px !important; */
  /* transform: translateX(-35%)!important;
  box-sizing: border-box;
  display: inline-block;
  min-width: 1.5em;
  padding: 2px;	
  margin-left: 0px;
  text-align: center;
  text-decoration: none !important;
  cursor: pointer;
  border: 1px solid #111111;	
	background-color: white;
  background: white; */
  /* position: relative !important;
  display: inline-block !important;
  border-bottom: 1px dotted black !important; */
/* }  */

