build/*
thirdparty/linux_include/*
thirdparty/windows_include/*
bin/*
releases/topmg-linux-*
releases/toppic-linux-*
releases/topfd-linux-*
releases/topmg-win-*
releases/toppic-win-*
releases/topfd-win-*
releases/win-lib/*

*.o
*.so
*.dll
.ycm_extra_conf.py
.ycm_extra_conf.pyc
*.pyc
*.swp
*.out
*.OUTPUT_RESULT
*.OUTPUT_TABLE
*.RAW_RESULT
*.FORMS
*.TOP
*.TOP_PRE
*.ZERO
*.GRAPH_*
*.VAR1_*
*.VAR2_*
*.fasta
*.fa
*.msalign
*.autosave
toppic
topfd
topmg
*.ms1
*.ms2

!src/gui/topfd*
!src/gui/toppic*
!src/gui/topmg*
