/*css for common properties*/

/*entire page*/
.bodycontainer a{
  color: #428bca !important;
}
@media (min-width: 1200px) {
  .container{
      max-width: 1200px;
  }
}
/*nav bar*/
.navbar {
	padding-top: 1rem !important;
    padding-right: 1rem !important;
    padding-bottom: 1rem !important;
    padding-left: 1rem !important;
}
.headBlock{
  color: white;
}
/**
*Increasing the container width
*/

/*button*/
.btn{
    background-color:  #428bca !important;
    /*width: 80% !important;*/
    max-width: 80% !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
button.close {
  outline: none !important;
  box-shadow: none !important;
}
.btn:active {
  outline-color: red !important;
}
.custom{
	width: 15% !important;
}


div.tooltip {
  box-sizing: border-box;
  display: inline-block;
  min-width: 1.5em;
  padding: 2px;	
  margin-left: 0px;
  text-align: center;
  text-decoration: none !important;
  cursor: pointer;
  border: 1px solid #111111;	
	background-color: white;
  background: white;
}

/*table*/
td { 
white-space: nowrap; 
/* max-width:150px; */
}
#all_peak_count,#matched_peak_count,#unmatched_peak_count {
	color: #428bca !important;
}
.row{
  margin-left: 0px !important;
  margin-right: 0px !important;
}
.dataTables_filter, .dataTables_info {
  display: none;
}
/*footer*/
.footer-copyright
{
	background-color: #343a40!important;
	color:white !important;
}

/*modal*/
.modal{
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 15px;
}
.modal-header {
  min-height: 1.42857143px !important;
  padding: 5px !important;
  border-bottom: 0px solid #e5e5e5 !important;
}
.modal-lg {
   	max-width: 70% !important;
} 
.modal-body {
  overflow-y: auto !important;
}
.modal-sm {
   	max-width: 50% !important;
}    
/*modal for saving graphs*/
.td_popup_button {
  padding-top: 20px !important;
}
.td_popup_variables{
  padding-top: 25px !important;
  /*padding-left: 20px !important;*/
}

#save-image-modal{
	margin-top:20%;
}

/*svg*/
svg{
  font-family : 'FreeMono',Miltonian,monospace;
  font-size: 16px;
  display:block;
}

/*spectrum and mass graph tab*/
#ms2_graph_nav .active{
  background-color: #F8F8F8 !important;
}
#ms2_graph_nav .nav-link{
  border: 0px !important;
}
#ms2_graph_nav a{
	color: #428bca !important;
}
#ms2_svg_div svg{
  background-color: #F8F8F8 !important;
}

/*font*/
#MyTextMZIN,#MyTextMassCharge{
	line-height: 1.1;
	font-size: 18px !important;
	text-align: left !important;
}
/*ptm list*/
.list-group{
  max-height: 300px;
  margin-bottom: 10px;
  overflow:scroll;
  -webkit-overflow-scrolling: touch;
}

