div.container {
	max-width: 1060px;
	margin: 0 auto;
}

.table-borderless td,
.table-borderless th {
    border: 0;
	border-top: none !important;
}

.table-bold td,
.table-bold th {
	font-weight:bold;
}

.nopadding td {
   padding: 0 !important;
   margin: 0 !important;
   spacing: 0 !important;
}

.dataTables_filter, .dataTables_info {
	display: none;
}

.table-nonfluid {
   width: auto;
}
