.custom-file{
    width: 50% !important;
}
.btn {
    background-color: #428bca !important;
}
.container{
	margin: auto;
	display:flex;
	max-width: 50%;
	min-width: 50%;
	background-image: url("images/bgroung.jpg");
}
.cards-container{
	display:flex;
	margin: auto;
	padding: 0px;
	
}
.card{
    background-color: #428bca !important ;
	padding: 40px 10px;
	margin: 0px 10px 0px 10px;
}	
.card:hover{
	opacity: 0.5;
}
.card-body p{
	font-size:20px;
	text-align:center;
}

.card-title{
	color:black;
	text-align:center;
	padding: 0px 0px 15px 0px;
}

.card-row{
	margin: 0px auto 20px auto;
	padding: 20px 30px 50px 30px;
	border-width:1px;
	border-style: solid;
	border-color: #D5D5D5;
	border-radius: 5px;
	min-width: 450px;
	
}
