/*css for common properties shared by all buttons in the app*/
.btn{
    background-color:  #428bca !important;
    width: 80% !important;
    max-width: 80% !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}