
/*div*/
div.container {
	font-family : "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 15px;
	max-width: 1060px;
  margin-top: 100px !important;
}
.table-borderless{
  margin-left: 1rem !important;
}
.table-borderless td,
.table-borderless th {
  border: 0;
	border-top: none !important;
}
.table-borderless tr, .table-borderless td{
  padding: .20rem !important;
  margin: 0 !important;
}
.table-borderless {
	margin-bottom: 0.5rem !important;
}
.dataTables_filter, .dataTables_info {
	display: none;
}
.table-nonfluid {
  width: auto;
}
svg.l_popup_svg{
  font-family : 'FreeMono',Miltonian,monospace !important;
  font-size: 16px !important;
  margin-left:auto !important;
  margin-right:auto !important ;
  display:block !important;
}
#precursormz
{
  cursor: pointer;
}
.help-window{
	 margin-top:40%!important;
}
/*svg graph*/
#ms2svg_div .active{
  background-color: #F8F8F8 !important;
}
#ms2svg_div .nav-link{
  border: 0px !important;
}
#ms1_graph_nav .active{
  background-color: #F8F8F8 !important;
}
#ms1_graph_nav .nav-link{
  border: 0px !important;
}
#ms1_graph_nav a{
	color: #428bca !important;
}
#ms2_graph_nav .active{
  background-color: #F8F8F8 !important;
}
#ms2_graph_nav .nav-link{
  border: 0px !important;
}
#ms2_graph_nav a{
	color: #428bca !important;
}
.ms2_svg_graph_class {
  background-color: #F8F8F8!important;
}
.filename p{
  padding-left: 19px;
  margin: 0px;
}
/*when having multiple scans*/
.dropdownscanlist .dropdown-menu {
  min-width: 7.5rem !important;
}
.dropdown-toggle::after{
  background-color: teal !important;
}