#ms2_svg_div svg{
  background-color: #F8F8F8 !important;
}
#ms2_graph_nav .active{
    background-color: #F8F8F8 !important;
}
#ms2_graph_nav .nav-link{
  border: 0px !important;
}
#ms2_graph_nav a{
    color: #428bca !important;
}