
/* .modal-sm {
    max-width: 20% !important;
}
.modal-content{
	padding-top: 20px !important;
	padding-left: 20px !important;
	padding-bottom: 20px !important;
	padding-right: 20px !important;
} */

/* .fixedptmcheckbox{
	box-shadow: 0px 0px 0px 0px !important;
}
.fixedptmfooter{
	padding-right: 1rem !important;
	padding-bottom: 0rem !important;
    border-top: 0px !important;
    border-bottom-right-radius: 0rem;
    border-bottom-left-radius: .3rem;
} */

