/**
*Set navigation bar padding
*/
.navbar {
	padding-top: 1rem !important;
    padding-right: 1rem !important;
    padding-bottom: 1rem !important;
    padding-left: 1rem !important;
}
/**
*Set TopView Color
*/
.headBlock{
	  color: white;
}
.container{
  padding-top: 100px !important;
}
/**
*Increasing the container width
*/
@media (min-width: 1200px) {
    .container{
        max-width: 1200px;
    }
}
/**
*Setting all the button colors to #428bca
*/
.btn{
  background-color:  #428bca !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/**
*Adding padding to textare for mass and intensity, 
*peak and intensity blocks.
*/
textarea {
  padding: relative;
}
#tableContainer td,th {
   text-align: center !important;  
}
#tableContainer thead,th { 
	border-top: none !important; 
}
/**
*CSS to set td span from left of Ion Fragments
*/
.ionfragments td{
	padding: .2rem !important;
}
/**
*CSS to set fixed PTM drop down and to add fixed ptms
*/
.fixedptmacid {
	width:40px !important;
} 
.fixedptmmass {
	width:75px !important;
} 
#modal_fixedptmacid{
	padding-right: 10px !important;
	margin-right: 10px !important;
	width:40px
}
#modal_fixedptmmass{
	width:70px
}
.fixedptmcheckbox{
	margin-right: 10px !important;
}
.fa-plus,.fa-remove{
	font-size:20px !important;
}
.submitrow{
	margin-block-end:0 !important;
}
.terminus{
	max-width: 5.333333% !important;
}
#dropdownMenuLink {
	width: 75% !important;
}
.seqvisualization .dropdown-menu{
	width: 100% !important;
}
/**
*CCC to set error selection block to the right most 
*/
#div_error{
	text-align: right!important; 
}
#errorval{
	text-align: center!important; 
	width: 80 !important;
}
.error_input{
  vertical-align: bottom !important;
  position:relative;
  right:0px;
  bottom:-22px;
}

div.tooltip {
  box-sizing: border-box;
  display: inline-block;
  min-width: 1.5em;
  padding: 2px;	
  margin-left: 0px;
  text-align: center;
  text-decoration: none !important;
  cursor: pointer;
  border: 1px solid #111111;	
	background-color: white;
  background: white;
}

/**
*CSS to font inside tooltip on hover on to the bars
*/
#MyTextMZIN,#MyTextMassCharge{
	line-height: 1.1;
	font-size: 18px !important;
	text-align: left !important;
}
input.largerCheckbox { 
    width: 20px; 
    height: 20px; 
 }

button.close {
   outline: none !important;
   box-shadow: none !important;
}
#all_peak_count,#matched_peak_count,#unmatched_peak_count {
	color: #428bca !important;
}
/**
*CSS to set the color of matched fragments in the fragment table
*/
.td_fragments{
  text-align : center !important ;
}
.matched_fragments{
  background-color:hsla(120, 100%, 50%, 0.3);;
}

#divtableContainer a{
  color: #428bca !important ;
}
.prsmgraphdownload .dropdown-menu{
  min-width:6.0rem !important;
}
.prsmgraphdownload .dropdown-item{
  padding-right: 1rem !important;
  padding-left: 1rem !important;
}
.prsmgraphdownload a{
  color: #428bca !important;
}
.prsmgraphdownload button{
  margin: 1px !important;
}
.seqvisualization .dropdown-menu{
  min-width:6.0rem !important;
}
.seqvisualization .dropdown-item{
  padding-right: 1rem !important;
  padding-left: 1rem !important;
}
.seqvisualization a{
color: #428bca !important;
}
.matched_fragments:hover{
  cursor: pointer;
}